/* Write your CSS here */
.imgUrl {
  height: 65%;
  width: 100%;
}
.container {
  background-color: #07080c;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-style: italic;
}
.speedHead {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 1.8rem;
  text-align: center;
}
.para {
  color: #cbd5e1;
  font-family: 'Roboto';
  text-align: center;
}
.buttonCon {
  display: flex;
  justify-content: center;
}
.btnAcc {
  background-color: #0b69ff;
  height: 2rem;
  width: 7rem;
  border: 0px solid;
  border-radius: 5px;
  color: #ffffff;
  margin: 0.3rem;
}
.btnBrake {
  background-color: transparent;
  border: 2px solid #94a3b8;
  height: 2rem;
  width: 7rem;
  border-radius: 5px;
  color: #ffffff;
  margin: 0.3rem;
}
button:hover {
  cursor: pointer;
  outline: none;
}
